<li>
    {{id}}
    {{burger_name}}

    {{#if devoured}} <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        DEVOUR!
    </button>
    {{/if}}

    <button class="btn delete-burger" data-id="{{this.id}}">Delete</button>

</li>